<%= simple_form_for(@user_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :tagline %>
    <%= f.input :about %>
    <%= f.input :url %>
    <%= f.input :blog %>
    <%= f.input :twitter %>
    <%= f.input :facebook %>
    <%= f.input :linkedin %>
    <%= f.input :google %>
    <%= f.input :github %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

 <div class="form-group">
    <%= f.association :user, input_html: { class: "form-control"} %>
  </div>

  <div class="form-group">
      <%= f.input :slug, input_html: { class: "form-control"} %>
  </div>
<% end %>
